<!DOCTYPE html>
<html lang="en">
  <head>
    <title>drawings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; }</style>
  </head>
  <body>
    <h1>Welcome to checknums-service</h1>
    <p><a href="https://checknums.com/">Check your Powerball tickets quickly and easily at CheckNums.com</a> using the following:</p>
    <ul>
      <li><a href="drawings">drawings</a> (<a href="drawings.json">json</a>)</li>
      <li><a href="jackpot">jackpot</a> (<a href="nextdrawing.json">json</a>)</li>
    </ul>
  </body>
</html>
